@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --md-sys-color-primary: rgb(103, 80, 164);
  --md-sys-color-on-primary: rgb(255, 255, 255);
  --md-sys-color-primary-container: rgb(234, 221, 255);
  --md-sys-color-on-primary-container: rgb(33, 0, 94);
  --md-sys-color-secondary: rgb(98, 91, 113);
  --md-sys-color-on-secondary: rgb(255, 255, 255);
  --md-sys-color-secondary-container: rgb(232, 222, 248);
  --md-sys-color-on-secondary-container: rgb(30, 25, 43);
  --md-sys-color-tertiary: rgb(125, 82, 96);
  --md-sys-color-on-tertiary: rgb(255, 255, 255);
  --md-sys-color-tertiary-container: rgb(255, 217, 227);
  --md-sys-color-on-tertiary-container: rgb(49, 16, 29);
  --md-sys-color-error: rgb(186, 26, 26);
  --md-sys-color-on-error: rgb(255, 255, 255);
  --md-sys-color-error-container: rgb(255, 218, 214);
  --md-sys-color-on-error-container: rgb(65, 0, 2);
  --md-sys-color-background: rgb(253, 247, 255);
  --md-sys-color-on-background: rgb(29, 27, 32);
  --md-sys-color-surface: rgb(253, 247, 255);
  --md-sys-color-on-surface: rgb(29, 27, 32);
  --md-sys-color-surface-variant: rgb(231, 224, 236);
  --md-sys-color-on-surface-variant: rgb(73, 69, 78);
  --md-sys-color-outline: rgb(122, 117, 127);
  --md-sys-color-outline-variant: rgb(203, 196, 208);
  --md-sys-color-shadow: rgb(0, 0, 0);
  --md-sys-color-scrim: rgb(0, 0, 0);
  --md-sys-color-inverse-surface: rgb(50, 47, 53);
  --md-sys-color-inverse-on-surface: rgb(245, 239, 247);
  --md-sys-color-inverse-primary: rgb(208, 188, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}